<div style="width:100%">
    <div class="content-wrapper">
        <div class="backgroundImage" [ngStyle]="{'background-image': 'url(' + businessLogoPath + ')'}">
            <div class="container">
                <div class="logo"></div>
                <br><br>
                <div class="login-block">
                    <div class="adminLogo">
                        <img [src]="logoPath" alt="company Logo" />
                    </div>
                    <h1>Login</h1>
                    <form [formGroup]="authForm" novalidate>
                        <div class="form-group">
                            <input type="text" placeholder="Username" id="username" class="form-control" [formControl]="name" />
                            <input type="password" placeholder="Password" id="password" class="form-control" [formControl]="password" />
                        </div>
                        <button type="button" (click)="validateUser()" label="Login">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>