<footer>
  <div class="fusion-footer">
    <div class="fusion-footer-copyright-area">
        <div class="fusion-copyright-notice">
            <a href="#"> TERMS OF SERVICE</a>
            <a href="#"> PRIVACY POLICY </a>
            <a href="#"> CONTACT </a>
            <a href="mailto:mailid@companyname.COM">INFO@COMPANYname.COM</a>
            <br>
        
          <span class="attribution">&copy; {{ today | date: 'yyyy' }}</span>
          <a> All Rights Reserved</a>
        </div>
      </div>
    </div>
</footer>