/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f2f4f4 !important;
}
header {
    position: relative;
}
.navbar-brand {
    vertical-align: super !important;
}
.navbar{
    display: inline-block !important;
}
.navbar-nav>li>a {
    color: #fff !important;
}
.navbar-nav>li {
    text-align: center !important;
}
.navbar-header {
    padding-left: 4% !important;
}
.navbar-right {
    padding-right: 4% !important;
}
.navbar-default{
    width:100% !important;
}
.navbar-inverse {
    background: #4f5151 !important; /* Old Browsers */
    background: -webkit-linear-gradient(bottom,#4f5151,#7b8080) !important; /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,#4f5151,#7b8080) !important; /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,#4f5151,#7b8080) !important; /*Fx 3.6-15*/
    background: linear-gradient(to top, #4f5151, #7b8080) !important; /*Standard*/
}
nav.navbar.navbar-inverse.navbar-default {
    margin-bottom: -6px !important;
}
.toolBar {
    height: 40px;
    width:100%;
    background: #a7acac;
    color:#fff;
    vertical-align: middle;
    padding-top:10px;
    margin-bottom: 5px;
}
.toolStyle {
    color:#000;
}
.toolbarClass {
    border-style:solid;
    border-width: 1px;
    padding: 2px 6px 2px 6px;
}
.button {
    float: right;
}
.btn-success {
    border-radius: 5px;
    margin-right: 10px;
    color: #fff !important;
}

.projectAdd {
    border: 1px solid gainsboro;
    width: 22%;
    box-sizing: border-box;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    padding: 4px;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}
/*.affix + .container-fluid {
    padding-top: 70px;
}*/
.row {
    margin-right: 0;
    margin-left: 0;
}
#custom-search-input {
    margin:0;
    margin-top: 5px;
    margin-left: 0;
    padding: 0;
}
#custom-search-input .search {
    width: 100%;
}
#custom-search-input i{
    font-size: 10px;
    font-style: normal !important;
}

.panel-body {
    background: #f2f4f4 !important;
    overflow: hidden;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.backgroundImage {
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.logo {
    padding-top: 5px;
    width: 25%;
    /*width: 213px;*/
    height: 36px;
    margin: 30px auto;
}

.login-block {
    width: 35%;
    background: #fff;
    border-radius: 5px;
    border-top: 8px solid #3b453f !important;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
}

.adminLogo {
    padding-left: 25%;
}

.login-block h1 {
    text-align: center;
    font-size: 14px;
    margin-top: 0;
    display: block;
    background: #ccc;
    padding: 4px;
    color: #4b4c4d;
    border-radius:5px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #3b453f;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #3b453f;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #3b453f;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #3b453f;
}

.fusion-footer-copyright-area {
    background-color: #61a6b8;
    border-top: 1px solid #4b4c4d;
    text-align: center;
}

.fusion-copyright-notice {
    color: #d8d8d8;
    font-size: 11px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-left: 300px;
}
.fusion-copyright-notice a {
    color:#fff !important;
    font-size: 11px;
}
